<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Travel Lyon</title>    
        <link rel="stylesheet" href="assets/css/style.css">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="assets/css/simple-sidebar.css" rel="stylesheet">
    </head> 
    <body>

        <div ng-app="CrudApp" id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            Travel Lyon
                        </a>
                    </li>

                    <div ng-controller="MapCtrl">
                        <li ng-repeat="type in types">
                            <a href="#/home" ng-click='getItemsType(type.type)'>{{type.type}}</a>
                        </li>
                    </div>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="navbar navbar-inverse">
                                <div class="navbar-inner">
                                    <div class="container">
                                        <button class="btn btn-navbar"> <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button> 

                                        <div class="nav-collapse">
                                            <ul class="nav">
                                                <li><a href="#/home"><i class="icon-home icon-white"></i>Page d'accueil-Map</a></li>
                                                <li><a href="#/all"><i class="icon-home icon-white"></i>Liste</a></li>
                                                <li><a href="#/add-point"><i class="icon-home icon-white"></i>Formulaire</a></li>                                              
                                            </ul>
                                        </div>
                                        <!-- /.nav-collapse -->
                                    </div>
                                </div>
                                <!-- /navbar-inner -->
                            </div>
                            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                            <div ng-view></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



         <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="assets/js/lib/angular.js"></script>
        <script src="assets/js/lib/angular-route.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
        <script src="assets/js/lib/ng-map.min.js"></script>        
        <script src="assets/js/lib/ui-bootstrap-tpl.min.js"></script>   
        <script src="assets/js/app.js"></script>
        <!-- /#wrapper -->
        <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            function getParams(){
                lat = $("#lat").val();
                long = $("#long").val();
                cat = $("#cat").val();
                dist = $("#dist").val();
                if((lat!='')&(long!='')&&(cat!='')&&(dist!='')){
                    document.location.href = '#/around/'+cat+'/'+lat+'/'+long+'/'+dist;
                } else {
                    alert('remplissez tous les champs');
                }     
            }
        </script>
    </body>
</html>