/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 févr. 2016, 15:00:17
    Author     : administrateur
*/

ng-map{
    height: 750px !important;
    width: 100%; 
    left:0;
    
}