<h2>Formulaire point</h2>

<form novalidate name="AddPointForm" id="add-point-form" method="post" action="">
  <label for="ID">ID:</label>
  <input type="text" ng-model="user.username" required />
  <label for="id_sytra1">ID Sytra 1:</label>
  <input type="text" ng-model="user.username" required />
  <label for="type">Type: </label>
  <input type="text" ng-model="user.username" required />
  <label for="type_detail">Type - Détail: </label>
  <input type="text" ng-model="user.username" required />
  <label for="nom">Nom:!</label>
  <input type="text" ng-model="user.username" required />
  <label for="adresse">Adresse: </label>
  <input type="text" ng-model="user.username" required />
  <label for="codepostal">Code postal: </label>
  <input type="text" ng-model="user.username" required />
  <label for="commune">Commune: </label>
  <input type="text" ng-model="user.username" required />
  <label for="telephone">Téléphone: </label>
  <input type="text" ng-model="user.username" required />
  <label for="fax">Fax: </label>
  <input type="text" ng-model="user.username" required />
  <label for="telephonefax">Téléphone Fax: </label>
  <input type="text" ng-model="user.username" required />
  <label for="email">E-mail</label>
  <input type="text" ng-model="user.username" required />
  <label for="siteweb">Site web:</label>
  <input type="text" ng-model="user.first_name" required />
  <label for="facebook">Facebook:</label>
  <input type="text" ng-model="user.last_name" required />
  <label for="classement">Classement: </label>
  <input type="text" ng-model="user.address" />
  <label for="ouverture">Ouverture:</label>
  <input type="text" ng-model="user.last_name" required />  
  <label for="tarifsenclair">Tarifs en clair:</label>
  <input type="text" ng-model="user.last_name" required />  
  <label for="tarifsmin">Tarif mini:</label>
  <input type="text" ng-model="user.last_name" required />  
  <label for="tarifsmax">Tarif maxi:</label>
  <input type="text" ng-model="user.last_name" required />  
  <label for="producteur">Producteur:</label>
  <input type="text" ng-model="user.last_name" required />  
  <label for="gid">GID (?):</label>
  <input type="text" ng-model="user.last_name" required />  
  <label for="date_creation">Date de création (à remplir en php):</label>
  <input type="text" ng-model="user.last_name" required />  
  <label for="last_update">Date de modification (à remplir en php):</label>
  <input type="text" ng-model="user.last_name" required />  
  <label for="last_update_fme">Date de modification FME (?):</label>
  <input type="text" ng-model="user.last_name" required />  
  <label for="lat">Lattitude:</label>
  <input type="text" ng-model="user.last_name" required />  
  <label for="long">Longitude:</label>
  <input type="text" ng-model="user.last_name" required />
  <br/>
  <button class="btn btn-primary" ng-disabled="AddNewForm.$invalid || isUnchanged(user)" id="add-new-btn" ng-click="add_new(user)">Save!</button>
  <a href="#/" class="btn">Cancel</a>
</form>
