
<h2>Liste des points</h2>

<input type="text" ng-model="searchValue" placeholder="Recherche">

<table class="table table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>ID_Sytra1</th>
      <th>Type</th>
      <th>Type Détail</th>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Code Postal</th>
      <th>Commune</th>
      <th>Tel</th>
      <th>Fax</th>
      <th>Tel Fax</th>
      <th>Email</th>
      <th>Site web</th>
      <th>Fb</th>
      <th>Classement</th>
      <th>Ouverture</th>
      <th>Tarifs en clair</th>
      <th>Tarif min.</th>
      <th>Tarif max.</th>
      <th>Producteur</th>
      <th>GID</th>
      <th>Date de création</th>
      <th>Date modif</th>
      <th>Date modif fme</th>
      <th>Coordonnées</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="point in points.features | filter:searchValue">
        <td>{{point.properties.ID}}</td>
        <td>{{point.properties.id_sytra1}}</td>
        <td>{{point.properties.type}}</td>
        <td>{{point.properties.type_detail}}</td>
        <td>{{point.properties.nom}}</td>
        <td>{{point.properties.adresse}}</td>
        <td>{{point.properties.codepostal}}</td>
        <td>{{point.properties.commune}}</td>
        <td>{{point.properties.telephone}}</td>
        <td>{{point.properties.fax}}</td>
        <td>{{point.properties.telephonefax}}</td>
        <td>{{point.properties.email}}</td>
        <td>{{point.properties.siteweb}}</td>
        <td>{{point.properties.facebook}}</td>
        <td>{{point.properties.classement}}</td>
        <td>{{point.properties.ouverture}}</td>
        <td>{{point.properties.tarifsenclair}}</td>
        <td>{{point.properties.tarifsmin}}</td>
        <td>{{point.properties.tarifsmax}}</td>
        <td>{{point.properties.producteur}}</td>
        <td>{{point.properties.gid}}</td>
        <td>{{point.properties.date_creation}}</td>
        <td>{{point.properties.last_update}}</td>
        <td>{{point.properties.last_update_fme}}</td>
        <td>{{point.geometry.coordinates}}</td>
    </tr>
  </tbody>
</table>
<a class="btn btn-primary" href="#/add-point">Ajouter un nouveau point d'intérêt</a>
