<h2>Map</h2>


    
<!-- <map id="map-canvas">{{coords}}</map> -->
<div ng-controller="MapCtrl">
    
<h3>Choisissez un type de lieu : </h3>
<div ng-repeat="type in types">
    <button on-click="vm.onClick()" ng-click='getItemsType(type.type)' style='float:left;'>{{type.type}}</button>
</div>  
    
    
    
<div ng-controller="ngctrl">
<div id="map" map-lazy-load="https://maps.google.com/maps/api/js"
  map-lazy-load-params="{{googleMapsUrl}}">
  <ng-map default-style="true" center="current-location" zoom="15" refresh='data.refresh'>

      <info-window position="current-location">
      <span>Nous sommes ICI !!</span>
      </info-window> 

<!--      <map-data  on-click="vm.onClick()"
      load-geo-json="api/index.php/points/{{type}}"> 
         </map-data>-->
      <marker ng-repeat="item in items_type.features" id="{{item.properties.ID}}}" position="[{{item.properties.lattitude}}, {{item.properties.longitude}}]" title="{{item.properties.nom}}" on-click="showInfoWindow('{{item.properties.ID}}')"></marker>
      <info-window ng-repeat="item in items_type.features" id="{{item.properties.ID}}">
          <p>{{item.properties.nom}}</p>
      </info-window>
<!--      <marker position="[45.770, 4.383]" title="Test" draggable="true"></marker>-->

  </ng-map>
</div>
</div>

<!--Select de la catégorie-->
<label>Catégories</label>
<select ng-model="filterCondition.operator">
    <option value="">---Please select---</option>
    <option ng-repeat="type in types"
            value="{{type.type}}">
     <a href=""on-click="vm.onClick()" ng-click='getItemsType(type.type)'>{{type.type}}</a>
    </option>
</select>

<!--Select du nom-->
<label>Noms</label>
<select ng-model="filterCondition.operator">
    <option on-click="vm.onClick()" ng-click='getItemsType(type.type)'
            ng-selected=""
            ng-repeat="item in items_type.features"
            value="{{type.type}}">
     {{item.properties.nom}}
    </option>
</select>








   <p>{{message}}</p>
   <p>type = {{asked_type}}</p>
 

   <p>Votre position : {{coords}}</p>

    <ul class="around-form">
      <li>Lattitude : <input type="text" id ="lat" name="lat"></li>
      <li>Longitude : <input type="text" id="long"  name="long" ></li>
      <li>Distance : <input type="text" id="dist" name="dist" ></li>
      <li>Category : <input type="text" id="cat" name = "cat" ></li>
      <li><a href="" onclick='getParams()'><i class="icon-home icon-white"></i>Rechercher</a></li>
    </ul>
    
</div>
